section {
  height: 25vh;
  width: 100%;
  background-color: blue;
}

.section-description {
  text-align: center;
}

.section-title {
}

.section-link {
  background-color: blueviolet;
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.section-1 {
  background-color: orange;
}

.section-2 {
  background-color: aquamarine;
}

.section-3 {
  background-color: palevioletred;
}
